@tailwind base;
@tailwind components;
@tailwind utilities;

.kDEcCH{
    padding: 0 !important;
    margin: 0 !important;
}
.kNxEtY{
   text-shadow: 300 !important;
}
.sc-bcXHqe{
    margin-top:  12px !important;
}